@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat';
}

body {
    padding: 0 15px 0 15px;
}

a {
    color: $nice-navy;
    text-decoration: none;
    text-transform: uppercase;
    @extend %transition;

    &:hover {
        text-decoration: underline;
        letter-spacing: 2px;
        @extend %transition;
    }
}

.app__copyright {
    @extend %absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: $light-navy;
}