@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';


table {
    margin: 40px 0 40px 0;
}

table, th, td {

    img {
        max-width: 200px;
        min-width: 50px;
        width: 100%;
    }
}

td {

    &:not(:first-child) {
        padding: 0;

        @include media-query(mobile_plus) {
            padding: 0 20px 0 20px;
        }
    }

    &:nth-child(2) {
        display: none;

        @include media-query(mobile_plus) {
            display: table-cell;
        }
    }
    
    &:nth-child(3) {
        min-width: 25px;
        @extend %flex;
        justify-content: center;
        align-items: center;
        min-height: 190px;
    }

    &:last-child {
        min-width: 54px;

        p {
            text-align: right;
            min-width: 54px;
        }
    }
}

.button__wrapper {
    height: 44px;
    margin-left: 10px;
    @extend %flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__empty {
    padding: 10px;
}