@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';

header {
    padding-bottom: 20px;
    width: 100%;
}

.nav__menu {
    @include list-reset();
    @extend %flex;
    justify-content: space-between;
    max-width: 600px;
    margin-left: auto;
}