$hell-dark: #080a15;
$light-turquoise: #adffed;
$pure-white: #ffffff;
$light-navy: #c2c2c2;
$deep-turquoise: #01d2a4;
$sunny-yellow: #fdbf14;
$juicy-lemon: #dedc07;
$nice-navy: #0f142b;
$gray-navy: #1a2036;
$dark-navy: #0b0e1b;
$almost-white: #f1f1f1;